In [1]:
import pandas as pd
import glob
import numpy as np
import os
import matplotlib.pyplot as plt
import datetime

In [2]:
path = "C:\\Users\\K\\Desktop\\courses\\INST490\\Grouop Project\\Datasets\\Rpt11_PGPKs_0219_0222"
filenames = glob.glob(path + "\*.xlsx")
# print('File names:', filenames)

In [3]:
Finalxlsx= pd.DataFrame()
for file in filenames:
   df = pd.concat(pd.read_excel(file, sheet_name=None, skiprows=[0,1,2,3]), ignore_index=True, sort=False)
   Finalxlsx = Finalxlsx.append(df, ignore_index=True)

In [4]:
Finalxlsx.head()

,Place Code,Place,Meter Code,Meter,Commodity Code,Commodity,Account Code,Account,Vendor Code,Vendor,...,Days,Native Use,Cost,Demand,Common Use,Pay Amount,Bill Transfer Format (Excel only)\nReport-11\n,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,PG-B06,Seabrook Schoolhouse Hist Site,PG-B06-2213.0402,PG-B06-2213.0402,NATURALGAS,Natural Gas,220001509185.0,HB 6114 Seabrook Rd,104485-002,X DONOT USE-WASHINGTON GAS - W.G.E.S.,...,28.0,217.0,228.09,NaN,21.067879,228.09,NaN,NaN,NaN,NaN
1,PG-B06,Seabrook Schoolhouse Hist Site,PG-B06-2213.0402,PG-B06-2213.0402,NATURALGAS,Natural Gas,220001509185.0,HB 6114 Seabrook Rd,104485-002,X DONOT USE-WASHINGTON GAS - W.G.E.S.,...,31.0,206.0,211.75,NaN,19.999922,211.75,NaN,NaN,NaN,NaN
2,PG-B06,Seabrook Schoolhouse Hist Site,PG-B06-2213.0402,PG-B06-2213.0402,NATURALGAS,Natural Gas,220001509185.0,HB 6114 Seabrook Rd,104485-002,X DONOT USE-WASHINGTON GAS - W.G.E.S.,...,30.0,60.0,72.42,NaN,5.825220,72.42,NaN,NaN,NaN,NaN
3,PG-B06,Seabrook Schoolhouse Hist Site,PG-B06-2213.0402,PG-B06-2213.0402,NATURALGAS,Natural Gas,220001509185.0,HB 6114 Seabrook Rd,104485-002,X DONOT USE-WASHINGTON GAS - W.G.E.S.,...,33.0,0.0,19.41,NaN,0.000000,19.41,NaN,NaN,NaN,NaN
4,PG-B06,Seabrook Schoolhouse Hist Site,PG-B06-2213.0402,PG-B06-2213.0402,NATURALGAS,Natural Gas,220001509185.0,HB 6114 Seabrook Rd,104485-002,X DONOT USE-WASHINGTON GAS - W.G.E.S.,...,28.0,0.0,19.41,NaN,0.000000,19.41,NaN,NaN,NaN,NaN

In [4]:
Finalxlsx.to_excel("Finalxlsx.xlsx")
# Finalxlsx=pd.read_excel("Finalxlsx.xlsx")
# Finalxlsx.head()

,Unnamed: 0,Place Code,Place,Meter Code,Meter,Commodity Code,Commodity,Account Code,Account,Vendor Code,...,Days,Native Use,Cost,Demand,Common Use,Pay Amount,Bill Transfer Format (Excel only)\nReport-11\n,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,0,PG-B06,Seabrook Schoolhouse Hist Site,PG-B06-2213.0402,PG-B06-2213.0402,NATURALGAS,Natural Gas,220001509185,HB 6114 Seabrook Rd,104485-002,...,28.0,217.0,228.09,NaN,21.067879,228.09,NaN,NaN,NaN,NaN
1,1,PG-B06,Seabrook Schoolhouse Hist Site,PG-B06-2213.0402,PG-B06-2213.0402,NATURALGAS,Natural Gas,220001509185,HB 6114 Seabrook Rd,104485-002,...,31.0,206.0,211.75,NaN,19.999922,211.75,NaN,NaN,NaN,NaN
2,2,PG-B06,Seabrook Schoolhouse Hist Site,PG-B06-2213.0402,PG-B06-2213.0402,NATURALGAS,Natural Gas,220001509185,HB 6114 Seabrook Rd,104485-002,...,30.0,60.0,72.42,NaN,5.825220,72.42,NaN,NaN,NaN,NaN
3,3,PG-B06,Seabrook Schoolhouse Hist Site,PG-B06-2213.0402,PG-B06-2213.0402,NATURALGAS,Natural Gas,220001509185,HB 6114 Seabrook Rd,104485-002,...,33.0,0.0,19.41,NaN,0.000000,19.41,NaN,NaN,NaN,NaN
4,4,PG-B06,Seabrook Schoolhouse Hist Site,PG-B06-2213.0402,PG-B06-2213.0402,NATURALGAS,Natural Gas,220001509185,HB 6114 Seabrook Rd,104485-002,...,28.0,0.0,19.41,NaN,0.000000,19.41,NaN,NaN,NaN,NaN

In [7]:
NEW=Finalxlsx[['Place','Commodity Code','Vendor','Days','Start Date','Native Use','Cost']].dropna()
NEW.head()

,Place,Commodity Code,Vendor,Days,Start Date,Native Use,Cost
0,Seabrook Schoolhouse Hist Site,NATURALGAS,X DONOT USE-WASHINGTON GAS - W.G.E.S.,28.0,2019-02-01,217.0,228.09
1,Seabrook Schoolhouse Hist Site,NATURALGAS,X DONOT USE-WASHINGTON GAS - W.G.E.S.,31.0,2019-03-01,206.0,211.75
2,Seabrook Schoolhouse Hist Site,NATURALGAS,X DONOT USE-WASHINGTON GAS - W.G.E.S.,30.0,2019-04-01,60.0,72.42
3,Seabrook Schoolhouse Hist Site,NATURALGAS,X DONOT USE-WASHINGTON GAS - W.G.E.S.,33.0,2019-05-01,0.0,19.41
4,Seabrook Schoolhouse Hist Site,NATURALGAS,X DONOT USE-WASHINGTON GAS - W.G.E.S.,28.0,2019-06-03,0.0,19.41

In [10]:
Facilities=["Prince George's Publick Playhouse","Palmer Park Community Center","Southern Tech&Rec Complex","Laurel Beltsville Senior Activity Center","Southern Area Aquatics and Recreation Complex"]
NEW=NEW[NEW['Place'].isin(Facilities)]
NEW.head()

,Place,Commodity Code,Vendor,Days,Start Date,Native Use,Cost
1705,Southern Area Aquatics and Recreation Complex,NATURALGAS,Washington Gas,15.0,2020-02-10,3402.00000,3434.31
1706,Southern Area Aquatics and Recreation Complex,NATURALGAS,Washington Gas,28.0,2020-02-25,3999.00000,3544.71
1707,Southern Area Aquatics and Recreation Complex,NATURALGAS,Washington Gas,29.0,2020-03-24,3085.00000,3066.15
1708,Southern Area Aquatics and Recreation Complex,NATURALGAS,Washington Gas,30.0,2020-04-22,2548.00000,2039.01
1709,Southern Area Aquatics and Recreation Complex,NATURALGAS,Washington Gas,31.0,2020-05-22,216.30084,253.59

In [11]:
refined_data=pd.read_excel("refined_data.xlsx")
refined_data=refined_data.drop(refined_data[refined_data['Place'] =='Westphalia Community Center / Community Center'].index)
refined_data.head()

,Place,Commodity Code,Vendor,Days,Start Date,Native Use,Cost
0,Prince George's Publick Playhouse,ELECTRIC,Pepco (Group billing),11,1994-07-01,200.0,30.51
1,Prince George's Publick Playhouse,ELECTRIC,Pepco (Group billing),28,1994-07-12,180.0,28.34
2,Prince George's Publick Playhouse,ELECTRIC,Pepco (Group billing),31,1994-08-09,200.0,30.51
3,Prince George's Publick Playhouse,ELECTRIC,Pepco (Group billing),33,1994-09-09,220.0,32.69
4,Prince George's Publick Playhouse,ELECTRIC,Pepco (Group billing),28,1994-10-12,180.0,20.63

In [12]:
report=pd.concat([NEW, refined_data])
report.head()

,Place,Commodity Code,Vendor,Days,Start Date,Native Use,Cost
1705,Southern Area Aquatics and Recreation Complex,NATURALGAS,Washington Gas,15.0,2020-02-10,3402.00000,3434.31
1706,Southern Area Aquatics and Recreation Complex,NATURALGAS,Washington Gas,28.0,2020-02-25,3999.00000,3544.71
1707,Southern Area Aquatics and Recreation Complex,NATURALGAS,Washington Gas,29.0,2020-03-24,3085.00000,3066.15
1708,Southern Area Aquatics and Recreation Complex,NATURALGAS,Washington Gas,30.0,2020-04-22,2548.00000,2039.01
1709,Southern Area Aquatics and Recreation Complex,NATURALGAS,Washington Gas,31.0,2020-05-22,216.30084,253.59

In [13]:
report.to_excel("new_report.xlsx")

In [66]:
Facility_list=["Prince George's Publick Playhouse / Art Center","Laurel Beltsville Senior Activity Center/ Center","Southern Tech&Rec Complex/Athletic Center","Southern Tech & Rec Complex / Wellness Center","Palmer Park Community Center / Community Center","Southern Area Aquatics and Recreation Complex"]

In [67]:
Facilities=pd.DataFrame()
for facility in Facility_list:
    Facilities=Facilities.append(Finalxlsx[Finalxlsx['Place']==facility])
Facilities.columns

Index(['Unnamed: 0', 'Place Code', 'Place', 'Meter Code', 'Meter',
       'Commodity Code', 'Commodity ', 'Account Code', 'Account',
       'Vendor Code', 'Vendor', 'C Ctr Code', 'Cost Center', 'Bill ID',
       'Billing Period', 'Rate Schedule', 'Start Date', 'End Date', 'Days',
       'Native Use', 'Cost', 'Demand', 'Common Use', 'Pay Amount',
       'Bill Transfer Format (Excel only)\nReport-11\n ', 'Unnamed: 1',
       'Unnamed: 2', 'Unnamed: 3'],
      dtype='object')

In [68]:
Facilities=Facilities[[ 'Place', 'Meter', 'Commodity Code',
       'Commodity ', 'Cost Center', 'Bill ID', 'Billing Period',
        'Start Date', 'End Date', 'Days', 'Native Use', 'Cost', 'Common Use', 'Pay Amount']]
Facilities[['Place']].value_counts()

Place
Southern Tech&Rec Complex/Athletic Center           295
Laurel Beltsville Senior Activity Center/ Center    212
Prince George's Publick Playhouse / Art Center      211
Palmer Park Community Center / Community Center     195
Southern Area Aquatics and Recreation Complex       170
Southern Tech & Rec Complex / Wellness Center        30
dtype: int64

In [69]:
report=pd.read_excel('Report.xlsx')
report=report[[ 'Place', 'Meter', 'Commodity Code',
       'Commodity ', 'Cost Center', 'Bill ID', 'Billing Period',
        'Start Date', 'End Date', 'Days', 'Native Use', 'Cost', 'Common Use', 'Pay Amount']]
report[['Place']].value_counts()

Place
Prince George's Publick Playhouse / Art Center      1397
Palmer Park Community Center / Community Center     1215
Southern Tech&Rec Complex/Athletic Center            811
Laurel Beltsville Senior Activity Center/ Center     778
Westphalia Community Center / Community Center       434
Palmer Park Community Center                         430
Prince George's Publick Playhouse                    387
Southern Area Aquatics and Recreation Complex        108
dtype: int64

In [70]:
report.columns

Index(['Place', 'Meter', 'Commodity Code', 'Commodity ', 'Cost Center',
       'Bill ID', 'Billing Period', 'Start Date', 'End Date', 'Days',
       'Native Use', 'Cost', 'Common Use', 'Pay Amount'],
      dtype='object')

In [71]:
Facilities.columns

Index(['Place', 'Meter', 'Commodity Code', 'Commodity ', 'Cost Center',
       'Bill ID', 'Billing Period', 'Start Date', 'End Date', 'Days',
       'Native Use', 'Cost', 'Common Use', 'Pay Amount'],
      dtype='object')

In [72]:
df=Facilities.append(report)
df.head()

,Place,Meter,Commodity Code,Commodity,Cost Center,Bill ID,Billing Period,Start Date,End Date,Days,Native Use,Cost,Common Use,Pay Amount
448,Prince George's Publick Playhouse / Art Center,natural gas,NATURALGAS,Natural Gas,PGC Rec Fund (13050-13999),497871.0,201902.0,2019-02-08,2019-03-08,28.0,1842.0,1524.72,178.834254,1524.72
449,Prince George's Publick Playhouse / Art Center,natural gas,NATURALGAS,Natural Gas,PGC Rec Fund (13050-13999),501593.0,201903.0,2019-03-08,2019-04-08,31.0,973.0,823.12,94.465651,823.12
450,Prince George's Publick Playhouse / Art Center,natural gas,NATURALGAS,Natural Gas,PGC Rec Fund (13050-13999),503659.0,201904.0,2019-04-08,2019-05-08,30.0,28.0,67.72,2.718436,67.72
451,Prince George's Publick Playhouse / Art Center,natural gas,NATURALGAS,Natural Gas,PGC Rec Fund (13050-13999),504507.0,201905.0,2019-05-08,2019-06-10,33.0,47.0,86.57,4.563089,86.57
452,Prince George's Publick Playhouse / Art Center,natural gas,NATURALGAS,Natural Gas,PGC Rec Fund (13050-13999),506357.0,201906.0,2019-06-10,2019-07-09,29.0,0.0,43.01,0.000000,43.01

In [73]:
df = df.dropna(subset=['Native Use','Cost'])
df=df[[ 'Place','Commodity ', 'Bill ID', 'Billing Period','Start Date', 'End Date', 'Days', 'Native Use', 'Cost','Common Use', 'Pay Amount']]
df.columns = [ 'Place','Commodity', 'Bill ID', 'Billing Period','Start Date', 'End Date', 'Days', 'Native Use', 'Cost','Common Use', 'Pay Amount']
df.head()

,Place,Commodity,Bill ID,Billing Period,Start Date,End Date,Days,Native Use,Cost,Common Use,Pay Amount
448,Prince George's Publick Playhouse / Art Center,Natural Gas,497871.0,201902.0,2019-02-08,2019-03-08,28.0,1842.0,1524.72,178.834254,1524.72
449,Prince George's Publick Playhouse / Art Center,Natural Gas,501593.0,201903.0,2019-03-08,2019-04-08,31.0,973.0,823.12,94.465651,823.12
450,Prince George's Publick Playhouse / Art Center,Natural Gas,503659.0,201904.0,2019-04-08,2019-05-08,30.0,28.0,67.72,2.718436,67.72
451,Prince George's Publick Playhouse / Art Center,Natural Gas,504507.0,201905.0,2019-05-08,2019-06-10,33.0,47.0,86.57,4.563089,86.57
452,Prince George's Publick Playhouse / Art Center,Natural Gas,506357.0,201906.0,2019-06-10,2019-07-09,29.0,0.0,43.01,0.000000,43.01

In [74]:
df = df.drop(df[(df['Cost'] == 0) & (df['Native Use'] !=0)].index)
df = df.drop(df[(df['Cost'] != 0) & (df['Native Use'] ==0)].index)
df = df.drop(df[df['Cost'] < 0].index) 
df = df.drop(df[df['Native Use'] < 0].index)

In [75]:
df.columns

Index(['Place', 'Commodity', 'Bill ID', 'Billing Period', 'Start Date',
       'End Date', 'Days', 'Native Use', 'Cost', 'Common Use', 'Pay Amount'],
      dtype='object')

In [77]:
df = df.drop(df[df['Commodity'] == 'Water'].index)
df = df.drop(df[df['Commodity'] == 'Telecom'].index)
df = df.drop(df[df['Commodity'] == 'Water & Sewer'].index)
df['Commodity'].value_counts()

Electric       1893
Natural Gas     492
Name: Commodity, dtype: int64

In [78]:
df['Place'].value_counts()

Prince George's Publick Playhouse / Art Center      543
Prince George's Publick Playhouse                   380
Palmer Park Community Center                        369
Palmer Park Community Center / Community Center     364
Westphalia Community Center / Community Center      339
Southern Tech&Rec Complex/Athletic Center           199
Laurel Beltsville Senior Activity Center/ Center    148
Southern Area Aquatics and Recreation Complex        39
Southern Tech & Rec Complex / Wellness Center         4
Name: Place, dtype: int64

In [79]:
df=df.drop(df[df['Place'] =='Westphalia Community Center / Community Center'].index)
df.head()

,Place,Commodity,Bill ID,Billing Period,Start Date,End Date,Days,Native Use,Cost,Common Use,Pay Amount
450,Prince George's Publick Playhouse / Art Center,Natural Gas,503659.0,201904.0,2019-04-08,2019-05-08,30.0,28.0,67.72,2.718436,67.72
456,Prince George's Publick Playhouse / Art Center,Natural Gas,515279.0,201910.0,2019-10-08,2019-11-08,31.0,254.0,282.05,24.660098,282.05
457,Prince George's Publick Playhouse / Art Center,Natural Gas,518723.0,201911.0,2019-11-08,2019-12-10,32.0,1442.0,1287.70,139.999454,1287.70
458,Prince George's Publick Playhouse / Art Center,Natural Gas,520016.0,201912.0,2019-12-10,2020-01-09,30.0,1759.0,1563.95,170.776033,1563.95
459,Prince George's Publick Playhouse / Art Center,Natural Gas,523242.0,202001.0,2020-01-09,2020-02-10,32.0,1617.0,1317.49,156.989679,1317.49

In [80]:
# Name standardization
df['Place'] = df['Place'].replace(['Palmer Park Community Center / Community Center'],'Palmer Park Community Center')
df['Place'] = df['Place'].replace(["Prince George's Publick Playhouse / Art Center"],"Prince George's Publick Playhouse")
df['Place'] = df['Place'].replace(["Laurel Beltsville Senior Activity Center/ Center"],"Laurel Beltsville Senior Activity Center")
df['Place'] = df['Place'].replace(["Southern Tech&Rec Complex/Athletic Center"],"Southern Tech&Rec Complex")
df['Place'] = df['Place'].replace(["Southern Tech & Rec Complex / Wellness Center"],"Southern Tech&Rec Complex")
df['Commodity'] = df['Commodity'].replace(["Water & Sewer"],"Water")
df.head()

,Place,Commodity,Bill ID,Billing Period,Start Date,End Date,Days,Native Use,Cost,Common Use,Pay Amount
450,Prince George's Publick Playhouse,Natural Gas,503659.0,201904.0,2019-04-08,2019-05-08,30.0,28.0,67.72,2.718436,67.72
456,Prince George's Publick Playhouse,Natural Gas,515279.0,201910.0,2019-10-08,2019-11-08,31.0,254.0,282.05,24.660098,282.05
457,Prince George's Publick Playhouse,Natural Gas,518723.0,201911.0,2019-11-08,2019-12-10,32.0,1442.0,1287.70,139.999454,1287.70
458,Prince George's Publick Playhouse,Natural Gas,520016.0,201912.0,2019-12-10,2020-01-09,30.0,1759.0,1563.95,170.776033,1563.95
459,Prince George's Publick Playhouse,Natural Gas,523242.0,202001.0,2020-01-09,2020-02-10,32.0,1617.0,1317.49,156.989679,1317.49

In [81]:
df['Place'].value_counts()

Prince George's Publick Playhouse                923
Palmer Park Community Center                     733
Southern Tech&Rec Complex                        203
Laurel Beltsville Senior Activity Center         148
Southern Area Aquatics and Recreation Complex     39
Name: Place, dtype: int64

In [83]:
# Prince George's Publick Playhouse                1302
# Palmer Park Community Center                     1078
# Southern Tech&Rec Complex                         409
# Laurel Beltsville Senior Activity Center          296
# Southern Area Aquatics and Recreation Complex

In [84]:
Prince_George_Publick_Playhouse=14190           
Palmer_Park_Community_Center=21921               
Southern_TechRec_Complex=75984                      
Laurel_Beltsville_Senior_Activity_Center=16925          
Southern_Area_Aquatics_Recreation_Complex=37048
Prince_George_Publick_Playhouse

14190

In [91]:
df['EUI']=0
df['EUI'].mask(df['Place'] == "Prince George's Publick Playhouse", df['Native Use']/Prince_George_Publick_Playhouse, inplace=True)
df['EUI'].mask(df['Place'] == "Palmer Park Community Center", df['Native Use']/Palmer_Park_Community_Center, inplace=True)
df['EUI'].mask(df['Place'] == "Southern Tech&Rec Complex", df['Native Use']/Southern_TechRec_Complex, inplace=True)
df['EUI'].mask(df['Place'] == "Laurel Beltsville Senior Activity Center", df['Native Use']/Laurel_Beltsville_Senior_Activity_Center, inplace=True)
df['EUI'].mask(df['Place'] == "Southern Area Aquatics and Recreation Complex", df['Native Use']/Southern_Area_Aquatics_Recreation_Complex, inplace=True)
df

,Place,Commodity,Bill ID,Billing Period,Start Date,End Date,Days,Native Use,Cost,Common Use,Pay Amount,EUI
450,Prince George's Publick Playhouse,Natural Gas,503659.0,201904.0,2019-04-08,2019-05-08,30.0,28.0,67.72,2.718436,67.72,0.001973
456,Prince George's Publick Playhouse,Natural Gas,515279.0,201910.0,2019-10-08,2019-11-08,31.0,254.0,282.05,24.660098,282.05,0.017900
457,Prince George's Publick Playhouse,Natural Gas,518723.0,201911.0,2019-11-08,2019-12-10,32.0,1442.0,1287.70,139.999454,1287.70,0.101621
458,Prince George's Publick Playhouse,Natural Gas,520016.0,201912.0,2019-12-10,2020-01-09,30.0,1759.0,1563.95,170.776033,1563.95,0.123961
459,Prince George's Publick Playhouse,Natural Gas,523242.0,202001.0,2020-01-09,2020-02-10,32.0,1617.0,1317.49,156.989679,1317.49,0.113953
...,...,...,...,...,...,...,...,...,...,...,...,...
5532,Southern Tech&Rec Complex,Natural Gas,548308.0,202101.0,2020-12-17,2021-01-21,35.0,99.2,122.43,9.631030,122.43,0.001306
5536,Southern Tech&Rec Complex,Electric,549547.0,202101.0,2020-12-29,2021-01-28,30.0,84836.0,8255.02,84836.000000,8255.02,1.116498
5542,Southern Tech&Rec Complex,Natural Gas,551361.0,202102.0,2021-01-21,2021-02-18,28.0,196.9,6.75,19.116430,6.75,0.002591
5545,Southern Tech&Rec Complex,Electric,550773.0,202102.0,2021-01-28,2021-02-24,27.0,83208.0,8145.86,83208.000000,8145.86,1.095073
5550,Southern Tech&Rec Complex,Natural Gas,552920.0,202103.0,2021-02-18,2021-03-18,28.0,1.2,23.67,0.116504,23.67,0.000016

In [92]:
df['EUI'].mask(df['Commodity'] == 'Electric', df['EUI']*3.412, inplace=True)
df['EUI'].mask(df['Commodity'] == 'Natural Gas', df['EUI']*99.9761, inplace=True)
df

,Place,Commodity,Bill ID,Billing Period,Start Date,End Date,Days,Native Use,Cost,Common Use,Pay Amount,EUI
450,Prince George's Publick Playhouse,Natural Gas,503659.0,201904.0,2019-04-08,2019-05-08,30.0,28.0,67.72,2.718436,67.72,0.197275
456,Prince George's Publick Playhouse,Natural Gas,515279.0,201910.0,2019-10-08,2019-11-08,31.0,254.0,282.05,24.660098,282.05,1.789565
457,Prince George's Publick Playhouse,Natural Gas,518723.0,201911.0,2019-11-08,2019-12-10,32.0,1442.0,1287.70,139.999454,1287.70,10.159657
458,Prince George's Publick Playhouse,Natural Gas,520016.0,201912.0,2019-12-10,2020-01-09,30.0,1759.0,1563.95,170.776033,1563.95,12.393091
459,Prince George's Publick Playhouse,Natural Gas,523242.0,202001.0,2020-01-09,2020-02-10,32.0,1617.0,1317.49,156.989679,1317.49,11.392625
...,...,...,...,...,...,...,...,...,...,...,...,...
5532,Southern Tech&Rec Complex,Natural Gas,548308.0,202101.0,2020-12-17,2021-01-21,35.0,99.2,122.43,9.631030,122.43,0.130523
5536,Southern Tech&Rec Complex,Electric,549547.0,202101.0,2020-12-29,2021-01-28,30.0,84836.0,8255.02,84836.000000,8255.02,3.809492
5542,Southern Tech&Rec Complex,Natural Gas,551361.0,202102.0,2021-01-21,2021-02-18,28.0,196.9,6.75,19.116430,6.75,0.259072
5545,Southern Tech&Rec Complex,Electric,550773.0,202102.0,2021-01-28,2021-02-24,27.0,83208.0,8145.86,83208.000000,8145.86,3.736388
5550,Southern Tech&Rec Complex,Natural Gas,552920.0,202103.0,2021-02-18,2021-03-18,28.0,1.2,23.67,0.116504,23.67,0.001579

In [93]:
df.to_excel("Dataset.xlsx")